<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let user of users" lines="full">
      <ion-avatar slot="start">
        <ion-img src="https://eu.ui-avatars.com/api/?background=3880ff&color=fff&name={{user.name}}"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{user.name}}</h2>
        <h3>{{user.email}}</h3>
      </ion-label>
      <ion-button (click)="editOrAddUser(user)" fill="clear" slot="end">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteUserConfirm(user)" fill="clear" slot="end">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-button (click)="editOrAddUser()" expand="full">Add user</ion-button>
  </ion-toolbar>
</ion-footer>
