<ion-header>
    <ion-toolbar>
        <ion-title>{{user?.id ? 'Edit user' : 'New user'}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal();">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>

        <ion-item lines="full">
            <ion-label position="stacked">Name</ion-label>
            <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.name.errors?.required">
            Name is required.
        </ion-text>
        <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
            Name should be min 2 chars long.
        </ion-text>

        <ion-item lines="full">
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName="email" type="email" required></ion-input>
        </ion-item>
        <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Email is required.
        </ion-text>
        <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Please provide valid email id.
        </ion-text>

        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
            </ion-col>
        </ion-row>
    </form>

</ion-content>
